.swiper .hero-content h1 {
  font-size: clamp(1rem, 10vw, 3.5rem);
}

.swiper .hero-content p {
  font-size: clamp(1rem, 3vw, 1.6rem);
}

.store-features {
  width: 100%;
  padding: 100px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store-features .feature {
  margin: 15px;
  text-align: center;
}

.store-features .feature .icon {
  width: 4rem;
  height: 4rem;
  margin: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: #3167eb;
}

.store-features .feature .icon ion-icon {
  color: #fafafa;
  font-size: 2rem;
}

.store-features .feature h3 {
  margin-top: 20px;
}

.store-features .feature p {
  width: 94%;
  max-width: 300px;
  font-size: 0.95rem;
  margin-top: 10px;
  color: #323232;
  font-family: "Open Sans", sans-serif;
}

.product-banner {
  width: 100%;
  margin-top: 50px;
  padding: 200px 10px;
  position: relative;
  background-image: url("https://dlcdnwebimgs.asus.com/files/media/5C70957A-1479-4727-A0D0-1A860746F2F4/v2/img/slider6.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -2;
}

.product-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

.product-banner .banner-content {
  z-index: 60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-banner .banner-content h4, .product-banner .banner-content h2, .product-banner .banner-content p, .product-banner .banner-content button {
  color: #ffffff;
  margin: 20px 0px;
}

.product-banner .banner-content h4 {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.product-banner .banner-content h2 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-align: center;
}

.product-banner .banner-content p {
  text-align: center;
  width: 94%;
  max-width: 800px;
  margin: 10px auto;
  letter-spacing: 1.2px;
  line-height: 1.8;
}

.product-banner .banner-content button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #3167eb;
  border-radius: 30px;
  cursor: pointer;
}

.product-banner .banner-content button:hover {
  background-color: rgba(49, 103, 235, 0.8);
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  max-width: 1400px;
  padding: 150px 10px;
}

.brand .brand-image {
  margin: 10px;
  max-width: 450px;
  -webkit-animation: moveup ease 15s infinite;
          animation: moveup ease 15s infinite;
}

@-webkit-keyframes moveup {
  0% {
    -webkit-transform: rotate(-5deg) translateY(-20px);
            transform: rotate(-5deg) translateY(-20px);
  }
  50% {
    -webkit-transform: rotate(5deg) translateY(20px);
            transform: rotate(5deg) translateY(20px);
  }
  100% {
    -webkit-transform: rotate(-5deg) translateY(-20px);
            transform: rotate(-5deg) translateY(-20px);
  }
}

@keyframes moveup {
  0% {
    -webkit-transform: rotate(-5deg) translateY(-20px);
            transform: rotate(-5deg) translateY(-20px);
  }
  50% {
    -webkit-transform: rotate(5deg) translateY(20px);
            transform: rotate(5deg) translateY(20px);
  }
  100% {
    -webkit-transform: rotate(-5deg) translateY(-20px);
            transform: rotate(-5deg) translateY(-20px);
  }
}

.brand .brand-content {
  margin: 10px;
}

.brand .brand-content h4 {
  color: #222222;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.brand .brand-content h2 {
  margin: 20px 0px;
  font-size: 2.4rem;
  font-weight: 800;
  color: #191A19;
}

.brand .brand-content p {
  width: 100%;
  max-width: 450px;
  font-size: clamp(0.9rem, 4vw, 1rem);
  letter-spacing: 1.3px;
  line-height: 1.3;
  color: #222222;
}

.brand .brand-content button {
  width: 150px;
  height: 50px;
  background-color: #3167eb;
  border-radius: 5px;
  outline: none;
  border: none;
  letter-spacing: 1.2px;
  color: #fafafa;
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.brand .brand-content button:hover {
  background-color: rgba(49, 103, 235, 0.8);
}

.sponsor {
  padding: 100px 10px;
}

.sponsor h1 {
  margin: 20px auto;
  font-weight: 600;
  text-align: center;
  color: #222222;
}

.sponsor .company-logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.sponsor .company-logos ion-icon {
  font-size: 5.2rem;
  margin: 30px;
  color: #323232;
}
/*# sourceMappingURL=home.css.map */