.store-layout {
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
}

.store-layout .meta-info {
  margin-top: 100px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store-layout .meta-info .basic-info {
  margin: 10px 20px;
}

.store-layout .meta-info .basic-info h5, .store-layout .meta-info .basic-info h4 {
  font-weight: 500;
  color: #323232;
}

.store-layout .meta-info .basic-info h4 {
  margin-top: 30px;
  font-size: 1.2rem;
}

.store-layout .meta-info .basic-info h5 {
  color: rgba(50, 50, 50, 0.9);
}

.store-layout .meta-info .sorting {
  margin: 10px  20px;
}

.store-layout .meta-info .sorting select {
  width: 260px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  border: 1px solid rgba(34, 34, 34, 0.3);
}

.store-layout .store-products {
  width: 100%;
  padding: 10px 20px;
}

.store-layout .store-products h1 {
  margin: 20px auto;
  font-weight: 600;
  text-align: center;
}

.store-layout .store-products .product-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (320px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 320px);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

.store-layout .store-products .product-container * {
  font-family: 'Inter', sans-serif;
}

.store-layout .store-products .product-container .product-card {
  width: 100%;
  padding: 0px 0px 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.store-layout .store-products .product-container .product-card .product-img {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(247, 244, 255, 0.4);
}

.store-layout .store-products .product-container .product-card .product-img img {
  float: left;
  width: 90%;
  min-width: 270px;
  max-width: 280px;
  height: 250px;
  min-height: 240px;
  max-height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.store-layout .store-products .product-container .product-card .product-content {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.store-layout .store-products .product-container .product-card .product-content .stars {
  margin-top: 5px;
}

.store-layout .store-products .product-container .product-card .product-content .stars .star {
  color: #323232;
}

.store-layout .store-products .product-container .product-card .product-content .stars .checked {
  color: #ffd000;
}

.store-layout .store-products .product-container .product-card .product-content h3 {
  font-size: 0.95rem;
  font-weight: 500;
  color: #222222;
  margin-top: 25px;
}

.store-layout .store-products .product-container .product-card .product-content h2 {
  font-size: 1.25rem;
  margin-top: 10px;
  font-weight: 600;
}

.store-layout .store-products .product-container .product-card .product-content button {
  width: 100%;
  height: 50px;
  margin-top: 35px;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
  outline: none;
  color: #ececec;
  border-radius: 6px;
  background-color: #3167eb;
  border: 1px solid #3167eb;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.store-layout .store-products .product-container .product-card .product-content button:hover {
  background-color: rgba(49, 103, 235, 0.8);
}

.store-layout .store-products .product-container .product-card .cart-manage form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.store-layout .store-products .product-container .product-card .cart-manage form input[type=number]::-webkit-inner-spin-button,
.store-layout .store-products .product-container .product-card .cart-manage form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 34px;
  width: 23px;
  cursor: pointer;
}

.store-layout .store-products .product-container .product-card .cart-manage form input[type=number] {
  height: 26px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  position: relative;
  text-align: center;
  font-size: 14px;
  width: 60px;
  outline: none;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
}

.store-layout .store-products .product-container .product-card .cart-manage form .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-layout .store-products .product-container .product-card .cart-manage form .quantity button, .store-layout .store-products .product-container .product-card .cart-manage form .quantity span {
  margin: 2px;
}

.store-layout .store-products .product-container .product-card .cart-manage form .quantity button {
  padding: 2px 4px;
}

.store-layout .store-products .product-container .product-card .cart-manage form .quantity button ion-icon {
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .store-layout .store-products .product-container {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}
/*# sourceMappingURL=store.css.map */